.vs/slnx.sqlite
/.vs/POS-semestralka/CopilotIndices
.vs/POS-semestralka/FileContentIndex/99124082-07cb-46da-9b67-e5e21cae858f.vsidx
.vs/POS-semestralka/v17/Browse.VC.opendb
.vs/POS-semestralka/v17/Browse.VC.db-wal
.vs/POS-semestralka/v17/Browse.VC.db-shm
.vs/POS-semestralka/v17/Browse.VC.db
.vs/POS-semestralka/FileContentIndex/b5bc55d6-fe83-4daa-b821-865349c6751d.vsidx
.vs/POS-semestralka/FileContentIndex/3752778b-4f37-4837-9c0f-6d3980534cd9.vsidx
.vs/POS-semestralka/FileContentIndex/100ff352-38aa-4127-aac0-6a5f8ed2572a.vsidx
*.vsidx
